.group {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0;
}

.label {
  margin-right: 10px;
  margin-bottom: 0;
}

.labelDisabled {
  color: darkgrey;
}

.control {
  padding: 0;
  outline: none;
  border: 0;
}
